<table>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        
        <td>
          <%= link_to user_path(comment.user) do %>
            <%= comment.user.username %>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "Destroy", comment_path(post, comment), method: :delete %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>