<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'subsc' %>
	<h3>Subscs search for "<%= @content %>"</h3>
  <%= render 'public/subscs/index', subscs: @records %>
<% end %>