<div class="row justify-content-md-center">

  <div class="card text-white " style="width: 800px; height: auto; Responsive image">
    <%= image_tag 'top.jpg', class:'card-img' %>
    <div class="card-img-overlay d-flex">
      <div class="mt-auto ms-auto">
        <h1 class="card-title">
        Sweets Subsc</h1>
        <p class="card-title">
        スイーツサブスクの情報が盛りだくさん。</br>
           レビューを投稿したり情報を見たり聞いたりできます。</p>
     </div>
    </div>
  </div> 
</div>