
<div class="col-md-10 offset-md-1">
  <h1>Subscs</h1>
    <% @subscs.each do |subsc| %>
      <%= link_to subsc_path(subsc) do %>
        <p><%= subsc.company_name %></p>
        <p><% if subsc.subsc_image.present? %>
            <%= image_tag subsc.subsc_image, size: "200x200" %>
          
          <% end %></p>
        <p><%= subsc.introduction %></p>
      <% end %>
    <% end %>
</div>
