<h1>投稿一覧</h1>

  <h4>ユーザー名</h4>
  <h4>タイトル</h4>

  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <%= @user.username %>
      <%= post.title %>
    <% end %>
  <% end %>
 


